<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>Chicony Electronics CO.</title>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/registerStep.css">
	<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
	<!-- VueFire -->
	<script src="https://cdn.bootcss.com/vuefire/1.4.5/vuefire.min.js"></script>
</head>

<body>
<style>
.container {height:100%;background-color:#f7f5f5;}
.BottomBar {padding:.6rem;}
.BottomBar a {display:block;border:1px solid #ddd;padding:.6rem 0;}
.BottomBar button {display:block;border:1px solid #ddd;padding:.6rem 0;width: 100%;background-color: #2a4150;color: white;border-radius:4px;}
.formContact {padding:0;box-shadow:none;}
.formContact textarea {margin-bottom:.1rem;transition: all .5s;}
/* .formContact textarea:active,.formContact textarea:focus {min-height:8rem;transition: all .5s;} */
</style>

<main class="container">

	<nav class="topMenuBar">
		<ul class="row middle-xs">
			<li>
				<a href="#0" class="menuButton goBackPage">
					<i class="fa fa-angle-left" data-aos="flip-right" data-aos-delay="1000"></i>
				</a>
			</li>
			<li class="col-xs noWrap">
				<h3 data-aos="fade-left" data-aos-duration="1600" data-aos-delay="300">我的客服</h3>
			</li>
			<!-- <li class="col-xs-1_ noWarp text-right">
				<label for="" class="menuButton ifActive"><i class="fa fa-star-o"></i></label>
			</li> -->
		</ul>
	</nav>
	<div class="chatRoom" id="app">
		<div class="messageBox" v-for="msg in msgDB" :key="msg['.key']">
			<p :class="msg.chatClass">
				<b><!-- <i class="fa fa-user-o"></i>  -->{{ msg.userName }}</b>
				<span v-if="msg.type == 'image'"><img :src="msg.message"></span>
				<span v-if="msg.type == 'text'" class="txtHeight">{{msg.message}}</span>
				<span class="msgReadMore" @click="readMore($event)">顯示更多</span>
				<time><!-- <i class="fa fa-clock-o"></i> -->{{ msg.timeStamp }}</time>
				<button class="delBtn" @click="removeThisMsg(msg)"><i class="fa fa-trash-o text-danger"></i></button>
			</p>
		</div>
		<!-- 區塊：上傳進度條 -->
		<selected v-show="upload" class="imgUploadBox">
			<article class="progress">
				<div id="js-progressBar" class="progressState"></div>
				<span class="progressNumber">{{progress}}</span>
			</article>
		</selected>

		<!-- <chat-component></chat-component> -->
		
		<footer class="BottomBar text-center">
			<div class="formContact" id="js-roomBody">
				<textarea id="js-message" placeholder="填寫你的問題" @keydown.enter="sendMessage($event)"></textarea>
				<ul class="row middle-xs cube9">
					<li class="col-xs-2 col-sm-1 uploadImg">
						<input class="imgBtn" type="file" accept="image/*" @change="sendImage($event)">
						<i class="fa fa-image"></i>
					</li>
					<li class="col-xs"><input style="margin:0;font-size: small;" type="text" id="js-userName" maxlength="8" value="YourName"></li>
					<li class="col-xs switchBtn">
						<input type="checkbox" id="checkbox" v-model="isChecked" class="hidden">
						<label for="checkbox" v-on:click="CheckedBtn()">{{ isChecked ? '用戶' : '客服' }}</label>
					</li>
					<li class="col-xs"><button v-on:click="sendMessage($event)">提 交</button></li>
				</ul>
			</div>
		</footer>
	</div>

	<script type="text/x-template" id="chat-component-template">
		<selected class="chatRoom">
			<h1>Test template Data</h1>
		</selected>
	</script>
</main>
<!-- JavaScript ================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="assets/js/aos.js"></script>
<script src="assets/js/liveChatRoom.js"></script>

<script>
$(document).ready(function () {

	$(".goBackPage").click(function () {
		event.preventDefault();
		history.back(1);
	});

	$(".ifActive").click(function () {
		$(this).children("i").toggleClass("is-active");
	});

	AOS.init({
		//offset: 45,
		duration: 600,
		easing: 'ease-out-cubic',
		//delay: 50,
	});
});
</script>
</body>
</html>