html,body{height: 100%;}
.wizard {display: block;}
.wizard a{outline: 0;}
/* Accessibility */
.wizard > .steps .current-info{position: absolute;left: -999em;}
.wizard > .content > .title{position: absolute;left: -999em;}
/* Wizard */
.wizard > .steps {position: relative;display: block;width: 100%;}
.wizard > .steps .number{font-size: small;}
.wizard > .steps > ul {display:flex;}
.wizard > .steps > ul > li,.wizard > .actions > ul > li{flex: 1;}
.wizard > .steps a,.wizard > .steps a:hover,.wizard > .steps a:active{display: block;white-space: nowrap;width: auto;margin: 0 .25rem;text-align: center;/* padding: .5em 0; */text-decoration: none;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active{background: #eee;color: #aaa;cursor: default;}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active{background: #0b4b71;color: #fff;cursor: default;text-shadow: 0 1px 1px rgba(0, 0, 0, .25);background: linear-gradient(to right, #89ceef, #77eca2);}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active{background: #053146;color: #fff;background: url('https://image.flaticon.com/icons/svg/443/443138.svg') no-repeat 5% center #053146;background-size: 12px;}

.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active{background: #ff3111;color: #fff;}

.wizard > .content{display: block;min-height: 100%;position: relative;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}

.wizard > .content > .body{padding: 2rem .25rem;position: absolute;width: 100%;}
.wizard > .content > .body > iframe{border: 0 none;width: 100%;height: 100%;}
.wizard > .content > .body input{display: block;border: 1px solid #ccc;}
.wizard > .content > .body input[type="checkbox"]{display: inline-block;}
.wizard > .content > .body input.error{background: rgb(251, 227, 228);border: 1px solid #ff3111 !important;animation: errorBorder .6s 2 ease-in-out;}
@keyframes errorBorder {
    0%{border-color:#053146;}
    25%{border-color:#ddd}
    50%{border-color:#11ff1d;}
    75%{border-color:#ddd;}
    100%{border-color:#ff3111;}
}
.wizard > .content > .body label{display: inline-block;margin-bottom: .5rem;}
.wizard > .content > .body label.error{color: #ff3111;display: inline-block;margin-left: 1rem;animation: errorAnima .8s 3 ease-in-out;transform-origin: left center;}
@keyframes errorAnima {
    0%{
        transform: translateX(0);
    }
    40%{
        transform: translateX(2rem);
    }
    50%{
        transform: translateX(0);
        transform: scaleX(.8);
    }
    60%{
        transform: translateX(0);
        transform: scaleX(.5);
    }
    70%{
        transform: translateX(1rem);
        transform: scaleX(.6);
    }
    85%{
        transform: scaleX(1.2);
    }
    93%{
        transform: translateX(0);
    }
    96%{
        transform: translateX(.5rem);
        transform: scaleX(1);
    }
    100%{
        transform: translateX(0);
    }
}

.wizard > .actions{position: fixed;display: block;width: 100%;left: 0;bottom: 0;padding: 0 1rem .5rem;}

.wizard > .actions > ul{display: flex;}
.wizard > .actions > ul > li{}

.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active {background: #132935;color: #fff;display: block;padding: .8rem 1rem;text-decoration: none;text-align: center;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;background: linear-gradient(to right, #89ceef, #77eca2);text-shadow: 0 1px 1px rgba(0, 0, 0, .25);}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active{background: #eee;color: #aaa;}

.wizard > .loading{}
.wizard > .loading .spinner{}

/* ID formContact */

.formContact input[type="text"],
.formContact input[type="email"],
.formContact input[type="tel"],
.formContact input[type="url"],
.formContact textarea,
.formContact button[type="submit"] {}

.formContact {max-width: 960px;margin: 0 auto;height: 100%;padding: 5rem 1rem 1rem;box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);font-size: 11pt;overflow: hidden;}
.formContact h3 {display: block;margin-bottom: 10px;}
.formContact label b {color:#ff3111;}

.formContact input[type="text"], .formContact input[type="email"], .formContact input[type="tel"], .formContact input[type="url"], .formContact textarea,.formContact select {width: 100%;border: 1px solid #d7d8d9;background: #FFF;padding: .6rem;margin-bottom: 1.8rem;border-radius: 4px;}

.formContact input[type="text"]:hover,
.formContact input[type="email"]:hover,
.formContact input[type="tel"]:hover,
.formContact input[type="url"]:hover,
.formContact textarea:hover {
-webkit-transition: border-color 0.3s ease-in-out;
-moz-transition: border-color 0.3s ease-in-out;
transition: border-color 0.3s ease-in-out;
border: 1px solid #aaa;
}

.formContact textarea {min-height: 4rem;max-width: 100%;resize: none;}

.formContact button[type="submit"] {
cursor: pointer;
width: 100%;
border: none;
background: #4CAF50;
color: #FFF;
margin: 0 0 5px;
padding: 10px;
font-size: 15px;
}

.formContact button[type="submit"]:hover {
background: #43A047;
-webkit-transition: background 0.3s ease-in-out;
-moz-transition: background 0.3s ease-in-out;
transition: background-color 0.3s ease-in-out;
}

.formContact button[type="submit"]:active {box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);}

.formContact input:focus,.formContact textarea:focus {outline: 0;border: 1px solid #aaa;}

::-webkit-input-placeholder {color: #888;}
:-moz-placeholder {color: #888;}
::-moz-placeholder {color: #888;}
:-ms-input-placeholder {color: #888;}

.steps > ul > li > a,.actions li a { padding: 10px;text-decoration: none;margin: 1px;display: block;color: #777;}
.steps > ul > li,.actions li {}

/* 同意服務條款 */
#acceptTerms:checked ~ .acceptTerms i {color: #70d255;}
label.acceptTerms {cursor: pointer;text-align: center;padding:.6rem 0;display: block !important;}
label.acceptTerms i {color: #ccc;margin-right:.5rem;font-size: 1.3rem;vertical-align: middle;}

/* input small icon */
form .fieldset {position: relative;}
form .fieldset input {padding: .6rem .6rem .6rem 2.2rem !important;}
form label.image-replace {
    position: absolute;
    margin: 0;
    left: 10px;
    top: 53%;
    bottom: auto;
    /* -webkit-transform: translateY(-50%); */
    /* transform: translateY(-50%); */
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: 50% 0;
}
form label.username {background-image: url(https://codyhouse.co/demo/login-signup-modal-window/img/cd-icon-username.svg);}
form label.email {background-image: url(https://codyhouse.co/demo/login-signup-modal-window/img/cd-icon-email.svg);}
form label.password {background-image: url(https://codyhouse.co/demo/login-signup-modal-window/img/cd-icon-password.svg);}

/* 城市地區 */
.city-selector {}
.city-selector select {-webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;-ms-flex-preferred-size: 0;flex-basis: 0;max-width: 100%;}
.city-selector select:last-of-type {margin-left: .8rem;}

/* E-Mail 小寫 */
input.email{text-transform:lowercase;}

/* 性別 Select */
.materialSelect select,.materialSelect ul {display:none;}
.materialSelect ul li {float:left;width: 25%;padding: .2rem;text-align:center;}
.materialSelect ul li span {background-color: #053146;color: white;padding: .5rem;border-radius: 4px;display: block;cursor: pointer;}
.materialSelect ul li.active span {background-color: #1a678c;color: white;}
.materialSelect .select-wrapper {position: relative;}
.materialSelect .select-wrapper span.caret {color:#666;position: absolute;right: 0;top: 0;bottom: 0;height: 5px;margin: auto .8rem;font-size: 8px;line-height: 10px;}