@import url(reset.css);
@import url(flexboxgrid.min.css);
@import url(aos.css);
@import url(../fontIcon/flaticon.css);
@import url(../fontIcon/fi.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
/* @import url(https://use.fontawesome.com/releases/v5.0.4/css/all.css); */

/*//// for global pages Star ////*/
body {font-family: "Heiti TC", 'Microsoft JhengHei', "Source Sans Pro", "Helvetica Neue", "Noto Sans CJK TC", Roboto, -apple-system, BlinkMacSystemFont, Ubuntu, Cantarell, sans-serif;-webkit-font-smoothing: antialiased;color: rgba(60, 75, 88, 1);background: #F5F5F5;line-height: 1.25;font-weight: normal;/* overflow-x: hidden; */}
hr{border: none;border-bottom: 1px solid #f0f0f0;}
strong,b{font-weight: bold;}
.red{color: rgba(237, 0, 0, .75);}
.f10{font-size:10pt;}
.f14{font-size:14pt;}
.f16{font-size:16pt;}
.h05rem{height:.5rem;}
.h1rem{height:1rem;}
.h15rem{height:1.5rem;}
.h2rem{height:2rem;}
.h25rem{height:2.5rem;}
.h3rem{height:3rem;}
.h35rem{height:3.5rem;}
.h4rem{height:4rem;}
.h45rem{height:4.5rem;}
.h5rem{height:5rem;}
.overHidden{overflow:hidden;}
.noWrap{white-space:nowrap;}
.p0{padding:0;}
.pt0{padding-top:0;}
.pb0{padding-bottom:0;}
.pl0{padding-left:0;}
.pr0{padding-right:0;}
.px0{padding-left:0;padding-right:0;}
.m0{margin:0;}
.mx0{margin-left:0;margin-right:0;}
.hidden{display:none!important;}
.boxShadow{-moz-box-shadow: 0px 2px 4px rgba(0,0,0,.25);-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,.25);box-shadow: 0px 2px 4px rgba(0,0,0,.25);}
.img-responsive {max-width:100%;display: block;margin: 0 auto;}
.text-left {text-align:left;}
.text-center {text-align:center;}
.text-right {text-align:right;}
.swiper-pagination-bullet-active {background: rgba(2, 20, 40, .75);}
/* Top header 固定欄樣式 */
.topMenuBar {background-color:white;position: fixed;width: 100%;z-index: 2;display: block;padding: .2rem 0;top: 0;-moz-box-shadow: 0px 1px 4px rgba(0,0,0,.15);-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,.15);box-shadow: 0px 1px 4px rgba(0,0,0,.15);}
.topMenuBar .row {flex-wrap: nowrap;}
.topMenuBar li:first-of-type i {font-size: 20px;} /* menuBarIcon */
.topMenuBar h3 {font-weight: 700;font-size: 14pt;}

.topMenuBar li form input[type=text] {border:1px solid transparent;outline:none;padding: .25rem 0;width: 80%;transition:all .3s;font-size: smaller;border-radius: 2rem;line-height: 1.2;}
.topMenuBar li form input[type=text]:focus {border: 1px solid #efefef;padding: .25rem 0 .25rem .8rem;}
.topMenuBar li form .fa-search {margin-left: .8rem;}

/* RestBtn Search input text */
.topMenuBar li form button {position: relative;z-index: 3;cursor: pointer;border: none;background: #dadada;padding: 0;text-align: center;color: #fff;opacity: 0;width: 1rem;height: 1rem;line-height: 1;border-radius: 50%;}
.topMenuBar li form:hover button,.topMenuBar li input[type=text]:focus + button {transition: all .8s;transform: translateX(-1.8rem);font-size: small;opacity: 1;}

/* TopBar 購物車樣式 */
.topShoppingBag {
    position: relative;
    display: inline-block;
    width: 1.2rem;
}
.topShoppingBag i::before {
    font-size: 19px;
}
.topShoppingBag span.shopNum {
    font-family: monospace;
    position: absolute;
    line-height: 11px;
    top: -6px;
    right: -6px;
    color: white;
    background-color: rgba(237, 0, 0, .75);
    font-size: xx-small;
    padding: .15rem;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    transform-origin: center bottom;
    animation: shopCarNum 1.8s infinite ease-in-out;
}
@keyframes shopCarNum {
    0% {transform: rotate(0deg);}
    5% {transform: rotate(25deg);}
    10% {transform: rotate(-25deg);}
    15% {transform: rotate(35deg);}
    20% {transform: rotate(-35deg);}
    25% {transform: rotate(0deg);}
}

/* 加入收藏樣式 */
.ifActive i {font-size:1.3rem;animation: refave-heart .8s;}
i.is-active {color:#ef4b0a;animation: fave-heart .8s;}
@keyframes fave-heart {0% {transform: scale(1,1);opacity:.25;}50% {transform: scale(1.5,1.5);}100% {opacity:1;transform: scale(1,1)}}
@keyframes refave-heart {0% {transform: scale(.8,.8);}50% {transform: scale(1.2,1.2);opacity:.25;}100% {transform: scale(1,1)opacity:1;}}

/* 底部固定欄樣式 */
.BottomBar {position:fixed;bottom:0;left:0;right:0;background-color:rgba(255,255,255,.85);z-index:1;}
.swiper-slide img {max-width:100%;}
.cube9 li {padding:0;} /* 九宮格無邊距 */

main.container {position: relative;width: 100%;padding:3.3rem 0 3rem;} /* 全域框架 */
main.container .subTitle{font-size: 14pt;padding: .35rem 1rem;} /* 區塊副標題 */
main.container .subTitle::before{content:"-";margin-right: .3rem;color: #bbb;font-size: smaller;} /* 副標題 + - */
main.container .boxCont{padding: 1rem;display: inherit;} /* 預設沙盒 */

main input#menuBtn,main input#overlayer {display: none;}
main input#menuBtn:checked ~ aside.menu {left: 0;}
main input#menuBtn:checked ~ label.menuClose {opacity: 1;visibility: visible;}
main input#overlayer:checked ~ label.overlayerClose {opacity: 1;visibility: visible;}
main input#overlayer:checked ~ .popBoxCont {top:50%;transform: translateY(-50%);}
main .menuButton {display: inline-block;padding: 10px 20px;margin: 0 auto;cursor: pointer;-webkit-transition: 0.3s ease;transition: 0.3s ease;-webkit-box-sizing: border-box;box-sizing: border-box;}
main .menuButton:hover {background: #f0f0f0;}
main .menuButton object {width: 1.4rem;pointer-events:none;}
/* 半透明灰底 Toggle */
main .menuClose,.overlayerClose {
position: fixed;
top: 0;
left: 0;
background: rgba(0, 0, 0, 0.4);
height: 100%;
width: 100%;
opacity: 0;
visibility: hidden;
-webkit-transition: 0.3s ease;
transition: 0.3s ease;
z-index: 3;
}
/* 跳出選單樣式 */
main .popBoxCont {position: fixed;top: -30rem;left: 1rem;right: 1rem;background-color: white;-webkit-transition: 0.35s ease-in-out;transition: 0.35s ease-in-out;-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);z-index: 4;border-radius: 3px;}
/* 左側欄展開樣式 */
main .menu {height: 100%;width: 300px;position: fixed;left: -305px;top: 0;background: #B8523D;-webkit-transition: 0.35s ease-in-out;transition: 0.35s ease-in-out;-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);z-index: 4;}
main .menu .menuContainer {width: 100%;height: 100%;display: -webkit-box;display: -ms-flexbox;display: flex;background: #f3f3f3;}
main .menu nav {width: 100%;height: 100%;overflow: hidden;overflow-y: scroll;}
main .menu nav h3, main .menu nav a {text-align: left;padding: .8rem 0 .8rem .85rem;margin: 0;font-weight: 300;color: black;}
main .menu nav h3 {background: #f2f2f2;border-bottom: 1px solid #e5e5e5;}
main .menu nav a {font-size: medium;border-bottom: 1px solid #e5e5e5;-webkit-transition: 0.3s ease;transition: 0.3s ease;cursor: pointer;display:flex;align-items: center;text-decoration: none;letter-spacing: 1px;}
main .menu nav a:hover {background: #f1f1f1;}

/* 展開側欄使用者樣式 */
main .menu nav h3.userAccount {padding: .52rem 0 .62rem .3rem!important;}
main .menu nav h3.userAccount img.userImg-circle {max-width:100%;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;display: inherit;}

main .menu nav h3.userAccount img.userImg-circle:hover {transform: rotateY(-180deg);}
main input#menuBtn:checked ~ .menu nav h3.userAccount img.userImg-circle {transform-origin: center center;transition:all .3s;animation: aslideImgFlip .6s 3 ease-in-out;}
@keyframes aslideImgFlip {0% {transform: rotateY(180deg);}15% {transform: rotateY(0deg);}30% {transform: rotateY(180deg);}100% {transform: rotateY(0deg);}}

main .menu nav h3.userAccount span.userName {font-size: medium;line-height: 1;}
main .menu nav h3.userAccount span.userName {width:0%;overflow: hidden;display: inherit;white-space:nowrap;opacity:0;padding: .3rem 0;}
main input#menuBtn:checked ~ .menu nav h3.userAccount span.userName {width:100%;transition:all 3s ease;transition-delay:.5s;opacity:1;}

main .menu nav h3.userAccount .times {font-size:16pt;transform: translateX(1.5rem);opacity:0;}
main input#menuBtn:checked ~ .menu nav h3.userAccount .times {transform: translateX(0rem);transition:all 1.2s ease-out;transition-delay:.8s;opacity:1;}

main .menu nav ul small {margin-left: .5rem;color:#999;font-size: 9pt;text-transform: uppercase;}

main .menu nav .clineUser {margin-top: 1rem;}
main .menu nav .clineUser i {margin-right: .5rem;color: #666;}
main .menu nav .clineUser li:last-of-type a {border:none;}

/* 展開側欄選單動畫 */
main input#menuBtn:checked ~ .menu nav .clineUser li a {opacity:0;animation: aslideAnima .5s forwards;}
main input#menuBtn:checked ~ .menu nav .clineUser li:first-of-type a {animation-delay: .2s;}
main input#menuBtn:checked ~ .menu nav .clineUser li:nth-of-type(2) a {animation-delay: .4s;}
main input#menuBtn:checked ~ .menu nav .clineUser li:nth-of-type(3) a {animation-delay: .6s;}
main input#menuBtn:checked ~ .menu nav .clineUser li:nth-of-type(4) a {animation-delay: .8s;}
main input#menuBtn:checked ~ .menu nav .clineUser li:nth-of-type(5) a {animation-delay: 1s;}
main input#menuBtn:checked ~ .menu nav .clineUser li:nth-of-type(6) a {animation-delay: 1.2s;}
main input#menuBtn:checked ~ .menu nav .clineUser li:nth-of-type(7) a {animation-delay: 1.4s;}
main input#menuBtn:checked ~ .menu nav .clineUser li:nth-of-type(8) a {animation-delay: 1.6s;}
@keyframes aslideAnima {0% {transform: translateX(1rem);}100% {opacity:1;transform: translateX(0);}}

/* 底部資訊欄 */
.bottomInfo {text-align:center;padding: 1.25rem 0 1rem;border-top:1px solid rgba(0,0,0,.12);}
.bottomInfo .row {padding-bottom: 1.1rem;}
.bottomInfo .row small {display:block;line-height:1.5;}
.bottomInfo .row .col-xs {color:#999;}

/* index 抽獎 btn */
.lotteryBtn {background-color: transparent;padding: 0 0 .5em;}
.lotteryBtn li {}
.lotteryBtn li a {
    padding: .3rem 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
    color: white;
    background-color: rgba(102, 48, 178, .85);
    background: linear-gradient(to bottom, rgba(187, 112, 255, .95), rgba(247, 161, 224, .85));
    border-radius: 2rem;
    align-items:  center;
    width: 90%;
    display: inline-block;
}
.lotteryBtn li a.colorB {background-color: rgba(48, 89, 178, .85);background: linear-gradient(to bottom, rgba(110, 140, 255, 0.95), rgba(160, 200, 245, 0.85));}
.lotteryBtn li a i {vertical-align: middle;margin-right: .3rem;display: inline-block;}
.lotteryBtn li a i::before {font-size: 1.6rem;}

/*//// for global pages End ////*/

/*//// for Other pages Star ////*/

/* isotope-filter Style */
#branItems {}
#branItems li {padding: 0 .2rem 1.2rem .2rem;}
#branItems li a,#storeItems li a {
    background-color:  white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12);
    display: block;
    padding: .25rem .5rem;
    border-radius: 4px;
}

/* isotope-filter Btns */
.button-group ul li a {color: #ccc;}
.button-group ul li a.is-checked {color: #222;font-weight:500;}

/* 我的優惠劵 MyCoupons */
.myCoupons {max-width:640px;margin:0 auto;padding:.8rem 1rem;display: block;}
.myCoupons li {margin-bottom:.8rem;display:block;position: relative;}
.myCoupons li .thisTag {position:absolute;right: 1rem;color: rgba(255, 255, 255, .6);}
.myCoupons li a {color:white;text-shadow:0 1px 1px rgba(0,0,0,.3);min-height:8rem;display: block;border-radius:8px;padding:1.3rem 1.8rem 1.5rem;background-color:#fff;box-shadow:0px 1px 1px rgba(0,0,0,.08);}
.myCoupons li a h1.percent {font-size:48px;line-height: 1;font-family: sans-serif;}
.myCoupons li a hr {border-bottom: 2px dotted rgba(0,0,0,.08);;margin: 1rem 0;}
.myCoupons li a hr::before,.myCoupons li a hr::after {position: absolute; content:"";display:block;width:2rem;height:2rem;border-radius:50%;background-color:#f0f0f0;}
.myCoupons li a hr::before {right:0;transform: translate(50%,-50%);}
.myCoupons li a hr::after {left:0;transform: translate(-50%,-50%);}

.myCoupons li a strong {font-size: larger;}
.myCoupons li a p {margin:.35rem 0;}
.myCoupons li a times {font-size: small;}

.CouponBgColor1 {background: linear-gradient(to right, #19E8D9, #5F79EA);}
.CouponBgColor2 {background: linear-gradient(to right, #FF8881, #e64f63);}
.CouponBgColor3 {background: linear-gradient(to right, #B3D2DE, #697E9E);}
.CouponBgColor4 {background: linear-gradient(to right, #1d2d35, #010d13);}
.CouponBgColor4 hr {border-color: rgba(255, 255, 255, 0.12)!important;}

/* 我的訂單 MyOrders */
.orderItemClass,.isotope-filter .cube9 {max-width:960px;margin:0 auto;}
.orderItemClass h1 {font-size:medium;color:#83C44E;border-bottom:1px solid rgba(0,0,0,.08);margin-bottom:.6rem;line-height:1.8;}
.orderItemClass h1 small {float: right;color:#333;padding-right:.75rem;background:url('https://image.flaticon.com/icons/svg/142/142050.svg') no-repeat right center #fff;background-size:10px;}
.orderItemClass li {width: 100%;border:1px solid rgba(0,0,0,.08);margin-bottom:.6rem;padding:.3rem .5rem .8rem;background-color:#fff;}
.orderItemClass times,.orderItemClass small {font-size:small;color:#999;}
.orderItemClass p.storeName {line-height:2;margin-bottom:.8rem;}
.orderItemClass .price {font-size: 16pt;}
.orderItemClass div.items p {margin-bottom:.4rem;line-height: 1;}
.orderItemClass h1.已關閉 {color:gray;}

.orderList {padding:1rem .25rem;}
.orderList li {margin-bottom: 1.5rem;}
/*//// for Other pages End ////*/