@import url(reset.css);
@import url(flexboxgrid.min.css);
@import url(aos.css);
@import url(../fontIcon/flaticon.css);
@import url(../fontIcon/fi.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

/*//// for global pages Star ////*/
body {font-family: "Heiti TC", 'Microsoft JhengHei', "Source Sans Pro", "Helvetica Neue", "Noto Sans CJK TC", Roboto, -apple-system, BlinkMacSystemFont, Ubuntu, Cantarell, sans-serif;-webkit-font-smoothing: antialiased;color: rgba(60, 75, 88, 1);background: #f2f2f2;line-height: 1.25;font-weight: normal;/* overflow-x: hidden; */}
hr{border: none;border-bottom: 1px solid #f0f0f0;}
.f10{font-size:10pt;}
.f14{font-size:14pt;}
.f16{font-size:16pt;}
.h05rem{height:.5rem;}
.h1rem{height:1rem;}
.h15rem{height:1.5rem;}
.h2rem{height:2rem;}
.h25rem{height:2.5rem;}
.h3rem{height:3rem;}
.h35rem{height:3.5rem;}
.h4rem{height:4rem;}
.h45rem{height:4.5rem;}
.h5rem{height:5rem;}
.overHidden{overflow:hidden;}
.noWrap{white-space:nowrap;}
.p0{padding:0;}
.px0{padding-left:0;padding-right:0;}
.m0{margin:0;}
.mx0{margin-left:0;margin-right:0;}
.boxShadow{-moz-box-shadow: 0px 2px 4px rgba(0,0,0,.25);-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,.25);box-shadow: 0px 2px 4px rgba(0,0,0,.25);}
.img-responsive {max-width:100%;display: block;margin: 0 auto;}
.text-left {text-align:left;}
.text-center {text-align:center;}
.text-right {text-align:right;}
/* Top header 固定欄樣式 */
.topMenuBar {background-color:white;position: fixed;width: 100%;z-index: 2;display: block;padding: .2rem 0;top: 0;-moz-box-shadow: 0px 1px 4px rgba(0,0,0,.15);-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,.15);box-shadow: 0px 1px 4px rgba(0,0,0,.15);}
.topMenuBar .row {flex-wrap: nowrap;}
.topMenuBar li:first-of-type i {font-size: 20px;} /* menuBarIcon */

.topMenuBar li form input[type=text] {border:1px solid transparent;outline:none;padding: .25rem 0;width: 80%;transition:all .3s;font-size: smaller;border-radius: 2rem;}
.topMenuBar li form input[type=text]:focus {border: 1px solid #efefef;padding: .25rem 0 .25rem .8rem;}
.topMenuBar li form .fa-search {margin-left: .8rem;}

/* RestBtn Search input text */
.topMenuBar li form button {position: relative;z-index: 3;cursor: pointer;border: none;background: transparent;padding: .12rem .5rem;color: #666;opacity: 0;}
.topMenuBar li form:hover button,.topMenuBar li input[type=text]:focus + button {transition: all .8s;transform: translateX(-2.5rem);font-size: small;opacity: 1;}

/* 底部固定欄樣式 */
.BottomBar {position:fixed;bottom:0;left:0;right:0;background-color:rgba(255,255,255,.85);z-index:1;}
.swiper-slide img {max-width:100%;}
.cube9 li {padding:0;} /* 九宮格無邊距 */

main.container {position: relative;width: 100%;padding:3.3rem 0 3rem;} /* 全域框架 */
main.container .subTitle{font-size: 14pt;padding: .35rem 1rem;} /* 區塊副標題 */
main.container .boxCont{padding:1rem;display: inherit;font-size: 11pt;} /* 預設沙盒 */

main input#menuBtn {display: none;}
main input#menuBtn:checked ~ aside.menu {left: 0;}
main input#menuBtn:checked ~ label.menuClose {opacity: 1;visibility: visible;}
main .menuButton {display: inline-block;padding: 10px 20px;margin: 0 auto;cursor: pointer;-webkit-transition: 0.3s ease;transition: 0.3s ease;-webkit-box-sizing: border-box;box-sizing: border-box;}
main .menuButton:hover {background: #f0f0f0;}
main .menuButton object {width: 1.4rem;pointer-events:none;}
/* 半透明灰底 Toggle */
main .menuClose {
position: fixed;
top: 0;
left: 0;
background: rgba(0, 0, 0, 0.4);
height: 100%;
width: 100%;
opacity: 0;
visibility: hidden;
-webkit-transition: 0.3s ease;
transition: 0.3s ease;
z-index: 3;
}
/* 左側欄展開樣式 */
main .menu {
height: 100%;
width: 300px;
position: fixed;
left: -305px;
top: 0;
background: #B8523D;
-webkit-transition: 0.35s ease-in-out;
transition: 0.35s ease-in-out;
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
z-index: 4;
}
main .menu .menuContainer {width: 100%;height: 100%;display: -webkit-box;display: -ms-flexbox;display: flex;background: #f3f3f3;}
main .menu nav {width: 100%;height: 100%;overflow: hidden;overflow-y: scroll;}
main .menu nav h3, main .menu nav a {text-align: left;padding: .8rem 0 .8rem .85rem;margin: 0;font-weight: 300;color: black;}
main .menu nav h3 {background: #f2f2f2;border-bottom: 1px solid #e5e5e5;}
main .menu nav a {font-size: medium;border-bottom: 1px solid #e5e5e5;-webkit-transition: 0.3s ease;transition: 0.3s ease;cursor: pointer;display:flex;align-items: center;text-decoration: none;letter-spacing: 1px;}
main .menu nav a:hover {background: #f1f1f1;}

/* 展開側欄使用者樣式 */
main .menu nav h3.userAccount {padding: .52rem 0 .62rem .3rem!important;}
main .menu nav h3.userAccount img.userImg-circle {max-width:100%;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;display: inherit;}

main .menu nav h3.userAccount img.userImg-circle:hover {transform: rotateY(-180deg);}
main input#menuBtn:checked ~ .menu nav h3.userAccount img.userImg-circle {transform-origin: center center;transition:all .3s;animation: aslideImgFlip .6s 3 ease-in-out;}
@keyframes aslideImgFlip {0% {transform: rotateY(180deg);}15% {transform: rotateY(0deg);}30% {transform: rotateY(180deg);}100% {transform: rotateY(0deg);}}

main .menu nav h3.userAccount span.userName {font-size: medium;line-height: 1;}
main .menu nav h3.userAccount span.userName {width:0%;overflow: hidden;display: inherit;white-space:nowrap;opacity:0;}
main input#menuBtn:checked ~ .menu nav h3.userAccount span.userName {width:100%;transition:all 3s ease;transition-delay:.5s;opacity:1;}

main .menu nav h3.userAccount .times {font-size:16pt;transform: translateX(1.5rem);opacity:0;}
main input#menuBtn:checked ~ .menu nav h3.userAccount .times {transform: translateX(0rem);transition:all 1.2s ease-out;transition-delay:.8s;opacity:1;}

main .menu nav ul small {margin-left: .5rem;color:#999;font-size: 9pt;text-transform: uppercase;}

main .menu nav .clineUser {margin-top: 1rem;}
main .menu nav .clineUser i {margin-right: .5rem;color: #666;}
main .menu nav .clineUser li:last-of-type a {border:none;}

/* 展開側欄選單動畫 */
main input#menuBtn:checked ~ .menu nav .clineUser li a {opacity:0;animation: aslideAnima .5s forwards;}
main input#menuBtn:checked ~ .menu nav .clineUser li:first-of-type a{animation-delay: .2s;}
main input#menuBtn:checked ~ .menu nav .clineUser li:nth-of-type(2) a{animation-delay: .4s;}
main input#menuBtn:checked ~ .menu nav .clineUser li:nth-of-type(3) a{animation-delay: .6s;}
main input#menuBtn:checked ~ .menu nav .clineUser li:nth-of-type(4) a{animation-delay: .8s;}
main input#menuBtn:checked ~ .menu nav .clineUser li:nth-of-type(5) a{animation-delay: 1s;}
main input#menuBtn:checked ~ .menu nav .clineUser li:nth-of-type(6) a{animation-delay: 1.2s;}
@keyframes aslideAnima {0% {transform: translateX(1rem);}100% {opacity:1;transform: translateX(0);}}

/* 底部資訊欄 */
.bottomInfo {text-align:center;padding: 1.25rem 0 1rem;border-top:1px solid rgba(0,0,0,.12);}
.bottomInfo .row {padding-bottom: 1.1rem;}
.bottomInfo .row small {display:block;line-height:1.5;}
.bottomInfo .row .col-xs {color:#999;}

/*//// for global pages End ////*/

/*//// for Other pages Star ////*/

/* 抽獎 btn */
.topShoppingBag {
    position: relative;
    display: inline-block;
}
.topShoppingBag i::before {
    font-size: 19px;
}
.topShoppingBag span {
    font-family: monospace;
    position: absolute;
    line-height: 11px;
    top: -5px;
    right: -8px;
    color: white;
    background-color: rgba(237, 0, 0, .75);
    font-size: xx-small;
    padding: .15rem;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    overflow: hidden;
    display: initial;
    align-items:  center;
    text-align: center;
}

/* 抽獎 btn */
.lotteryBtn {background-color: transparent;padding: 0 0 .5em;}
.lotteryBtn li {}
.lotteryBtn li a {
    padding: .3rem 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
    color: white;
    background-color: rgba(102, 48, 178, .85);
    background: linear-gradient(to bottom, rgba(187, 112, 255, .95), rgba(247, 161, 224, .85));
    border-radius: 2rem;
    align-items:  center;
    width: 90%;
    display: inline-block;
}
.lotteryBtn li a.colorB {background-color: rgba(48, 89, 178, .85);background: linear-gradient(to bottom, rgba(110, 140, 255, 0.95), rgba(160, 200, 245, 0.85));}
.lotteryBtn li a i {vertical-align: middle;margin-right: .3rem;display: inline-block;}
.lotteryBtn li a i::before {font-size: 1.6rem;}

/*//// for Other pages End ////*/